@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject HouseService.ViewModels.WebViewModel ViewModel

<div class="row" style="margin-top: 10px">
    @{ 
        @foreach (var automation in ViewModel.Automations)
        {
            <div class="col-md-3">
                <div class="automation-info @automation.EnabledClass">
                    <h2>@automation.Title</h2>
                    @if (automation.Type == AutomationBase.AutomationType.Climate)
                    {
                        <div>
                            <img class="automation-icon" src="~/images/@automation.Icon" />
                            <span>@automation.Status</span>
                        </div>
                    }
                    else if (automation.Type == AutomationBase.AutomationType.Lights)
                    {
                        <div>
                            <img class="automation-icon" src="~/images/@automation.Icon" />
                            <label class="switch" style="vertical-align: middle;">
                                <span class="slider round"></span>
                            </label>
                            @*@Html.CheckBoxFor(x => automation.IsEnabled, new { @checked = "checked" })*@
                            <span>@automation.Status</span>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>
